<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Algo'Mate{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% block stylesheets %}{% endblock %}

    </head>