    <body>
        <header>
            <section id="navbar">
                <div class="content-logo">
                    <a href="">
                        <p>Algo'Mate<p>
                    </a>
                </div>
                <div class="content-nav">
                    <nav>
                        <ul class="content-item">
                            <div class="nav-item">
                                <a href="{{ path('homepage') }}">
                                    <li>Accueil</li>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a href="{{ path('login') }}">
                                    <li>Connexion</li>
                                </a>
                            </div>
                        </ul>
                    </nav>
                </div>
                <div class="content-disconnect">
                    <div class="btn-disconnect">
                        <a href="">
                            <p>Déconnexion</p>
                        </a>
                    </div>
                </div>
            </section>
        </header>