{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<main class="main-profile">
    <div class="all-content-profile">
        <section class="all-personal-info">
            <div class="personal-img">
                <img src="" alt="">
            </div>
            <div class="personal-info">
                <div class="personal-info-container">
                    <div class="label-info">
                        <h5>Nom :</h5>
                    </div>
                    <div class="response-info">
                        <p>Beckert</p>
                    </div>
                </div>
                <div class="personal-info-container">
                    <div class="label-info">
                        <h5>Préom :</h5>
                    </div>
                    <div class="response-info">
                        <p>Yohann</p>
                    </div>
                </div>
                <div class="personal-info-container">
                    <div class="label-info">
                        <h5>Âge :</h5>
                    </div>
                    <div class="response-info">
                        <p>26 ans</p>
                    </div>
                </div>
                <div class="personal-info-container">
                    <div class="label-info">
                        <h5>Pays :</h5>
                    </div>
                    <div class="response-info">
                        <p>France</p>
                    </div>
                </div>
                <div class="personal-info-container">
                    <div class="label-info">
                        <h5>Ville :</h5>
                    </div>
                    <div class="response-info">
                        <p>Wittenheim</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="game-info">
        
        </section>
    </div>
</main>
{% endblock %}
