 {% extends "base.html.twig" %}

{% block title %}Ajouter un champion{% endblock %}

{% block body %}

<h1>Ajouter un champion</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Soumettre</button>
{{ form_end(form) }}

{% endblock %}