{% extends 'base.html.twig' %}

{% block title %}Liste des champions{% endblock %}

{% block body %}

    <h1>Champions</h1>

<ul class="">
    {% for champion in champion_list %}
    <li class="list-group-item">{{champion.name}}{{champion.image}}</li>
    {% endfor %}
</ul>
{% endblock %}
