{% extends 'base.html.twig' %}

{% block title %}New Champion{% endblock %}

{% block body %}
    <h1>Create new Champion</h1>

    {{ include('champion/_form.html.twig') }}

    <a href="{{ path('champion_list') }}">back to list</a>
{% endblock %}
