<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <title>{% block title %}Algo'Mate{% endblock %}</title>
        {% block stylesheets %}<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="nav-content">
                <div class="content-logo">
                    <p>Algo'Mate</p>
                </div>
                <nav>
                    <ul class="nav-list">
                        <div class="space-nav">
                                <div class="item-nav">
                                    <a href="">
                                        <li class="{# {% if app.request.get('_route') == 'accueil' %}active{% endif %} #}">Accueil</li>
                                    </a>
                                </div>
                        </div>
                        <div class="space-nav">
                                <div class="item-nav">
                                    <a href="">
                                        <li class="{# {% if app.request.get('_route') == 'accueil' %}active{% endif %} #}">Liste des champions</li>
                                    </a>
                                </div>
                        </div>

                    </ul>
                </nav>
            </div>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
