{{ include('partials/_doctype.html.twig') }}
{{ include('partials/_navbar.html.twig') }}
        {% block body %}{% endblock %}
{{ include('partials/_footer.html.twig') }}
        {% block javascripts %} <script src="/assets/js/app.js"></script> {% endblock %}
    </body>
</html>
