{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<main class="log main">
    <section class="left-section">
    <div class="form-width">
        <div class="content-inscription">
            <div class="title-inscription">
                <h1> Connectez-vous ! <h1>
            </div>
            <div class="login-form">
                <form method="post" class="all-login-items">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="login-item">
                        <label for="inputEmail">E-mail</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input-form" required autofocus>
                    </div>
                    <div class="login-item">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control input-form" required>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}
                    <button class="btn btn-success" type="submit">Connexion</button>
                </form>
            <div>
        </div>
    </div>
    </section>
{% endblock %}
